{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block body %}
<!-- ======= Index Page Section ======= -->
<section id="hero" >
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <!-- Slide 1 -->
            <div class="carousel-item active" style="background-image: url(static/img/slide/slide.jpg)" >
                <div class="carousel-container">
                    <div class="container">
                        <h2 class="animate__animated animate__fadeInDown">Welcome to</h2>
                        <h2 class="animate__animated animate__fadeInDown">Question Paper Generator Software</h2>
                        <a href="log_in" class="btn-get-started animate__animated animate__fadeInUp scrollto mx-2">Log In</a>
                        <a href="register" class="btn-get-started animate__animated animate__fadeInUp scrollto mx-2">Register</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- Index Page Hero -->
{% endblock body %}